body {
  background: #ffffff;
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
video {
  position: fixed;
  min-width: 1%;
  min-height: 1%;
}

