body {
  background: #ffffff;
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
video {
  background: white;
  background-image: url(baby.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}


/* Style for buttons of left side =================================================== */
.sidebar {
height: 100%;
width: 100%;
position: fixed;
top: 0;
right: 0;
color:white;
}
.sidebar i{
  padding: 20px 20px 0px 0px;
}
.sidebar .l1{
  align : right;
  margin-top: 20px;
  white-space: nowrap;
}
.sidebar .l2{
  align : right;
  margin-top: 37px;
  white-space: nowrap;
}

/*========================================================================== */


/* Style for buttons of right side =================================================== */

.barright {
height: 100%;
width: 100%;
position: fixed;
top: 25%;
left: 0;
color:white;
}
.barright i{
  padding: 20px 20px 0px 20px;
}
.barright .tag1{
  padding-left: 10px;
}
.barright .tag2{
  padding-left: 11px;
}
.barright .tag3{
  padding-left: 13px;
}
